<p-contextMenu #cm [model]="items" [appendTo]="'body'" triggerEvent="click"></p-contextMenu>

<nav class="navbar navbar-expand-lg bg-body-tertiary mt-4 ">
  <div class="container">
    <h3>Member List</h3>
    <button class="btn btn-primary" (click)="addusers()">Add Employee</button>
  </div>
</nav>
<div class="container">

  <p-table class="px-5" #dt1 dataKey="users" (onLazyLoad)="getDashboard($event)" [lazy]="true" [loading]="isLoading"
    [currentPageReportTemplate]="'Showing {currentPage} of {totalPages} Pages'" [totalRecords]="totalRecords"
    [resizableColumns]="true" columnResizeMode="expand" [rows]="10" [showCurrentPageReport]="false" [value]="users"
    responsiveLayout="scroll" styleClass="p-datatable-stadium " [paginator]="users.length > 0"
    currentPageReportTemplate="" [globalFilterFields]="['id','email','first_name', 'last_name']" sortField="coach_id"
    [sortOrder]="-1">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Avatar</th>
        <th *ngIf="!isViewMode" class="text-center">Action</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td><img [src]="user.avatar" alt=""></td>
        <td class="text-center position-relative">
          <i class="bi bi-three-dots-vertical  cursor-pointer" (click)="openCm($event, cm, user.id)">dots</i>
        </td>

      </tr>
    </ng-template>
  </p-table>

</div>
<p-dialog header="Title" [(visible)]="display" [modal]="true" [style]="{width: '55vw'}">
  <ng-template pTemplate="header">
      Add User
  </ng-template>
  <form #f="ngForm" (ngSubmit)="formSubmit(f)">
      <div class="form-group">
          <div class="row">
              <div class="col-6">
                  <label>Name</label>
                  <input class="form-control" [readonly]="isViewMode" type="text" name="name" pInputText [(ngModel)]="user.name" required
                  #name="ngModel" pattern="^[a-zA-Z ]+$" placeholder="Type Name" class="w-full" />
                <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
                  Name is required 
                </small>
              </div>
              <div class="col-6">
                  <label>JOB</label>
                  <input class="form-control" [readonly]="isViewMode" type="text" name="job" pInputText [(ngModel)]="user.job" required
                  #job="ngModel" pattern="^[a-zA-Z ]+$" placeholder="Type Name" class="w-full" />
                <small [hidden]="job.valid || (job.pristine && !f.submitted)" class="text-danger">
                  Name is required 
                </small>
              </div>
          </div>

          <div class="form-group">
              <div style="display: flex; margin-top: 10px;">
                  <button type="submit" (click)="submit()" class="btn btn-primary" style="margin-left: auto; width: 30%; ">
                      Submit
                  </button>
              </div>
          </div>
          </div>
  </form>

  <ng-template pTemplate="footer">

  </ng-template>
</p-dialog>